body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
	
}

body{
	color 				: #666;
	font-family 		: tahoma;
	font-weight 		: lighter;
	padding-top 		: 20px;
	text-align			: center;
}

body p{
	font-size 			: 14px;
}

body p a{
	font-size			: 16px;
}

h1 {
	color 				: #09F;	
}

a{
	color 				: #FFF;	
	text-decoration		: none;
}

a:hover{
	text-decoration		: underline;
}

/* general */
.clear {
	clear				: both;
}

/* Header */
.brand{
	color 				: #09F !important;	
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 5px;
	padding 			: 5px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin				: 1px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 10px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 12px;
	background-color 	: #09F;
	color 				: #FFF;
	text-align			: center;
	width				: 120px;
	height				: 40px;
	padding-top			: 10px;
}
.node p{
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}
.jOrgChart .patro {
	background: #900;
}
.jOrgChart .ativo {
	background: green;
}
.jOrgChart .pendente {
	background: #CCC;
}