body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
	
}

body{
	color 				: #666;
	padding-top 		: 5px;
	text-align			: center;
	font-size:			: 10px;
	background 			: url('../img/bg.gif') repeat-x;
}

h1 {
	color 				: #09F;	
}

a{
	text-decoration		: none;
}

a:hover{
	text-decoration		: underline;
}

/* general */
.clear {
	clear				: both;
}

/* Header */
.brand{
	color 				: #09F !important;	
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 5px;
	padding 			: 5px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin				: 1px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 10px;
}

/* Custom node styling */
.jOrgChart .node {
	background-color	: #FFF;
	color 				: #09F;
	font-family 		: verdana;
	font-size			: 10px;
	text-align			: center;
	width				: 100px;
	height				: 70px;
	border-radius		: 20px;
	padding-top			: 3px;
}
.jOrgChart .patro {
	background: #900;
}
.jOrgChart .ativo {
	background: url('../img/user_1.png') no-repeat #FFF;
	background-position: center bottom;
}
.jOrgChart .pendente {
	background: url('../img/user_0.png') no-repeat #FFF;
	background-position: center bottom;
}
.jOrgChart .fechado {
	background: url('../img/user_2.png') no-repeat #FFF;
	background-position: center bottom;
}
.jOrgChart .tipo1 {
	border-bottom		: 6px solid #0099FF;
}
.jOrgChart .tipo2 {
	border-bottom		: 6px solid #33CC66;
}
.jOrgChart .tipo3 {
	border-bottom		: 6px solid #FFCC66;
}